<%- include('./parts/_header') %>

<div class="flex flex-col items-center">
    <p>Vyčkejte na schválění vaší žádosti o registraci administrátorem.</p>
    <a href="" onclick="window.location.reload();" class="list-link">zkontrolovat</a>
</div>

<%- include('./parts/scripts/_toast') %>
<%- include('./parts/_footer') %>