<div class="mt-[50px]"></div>
</div>
<div id="footer">
    <div id="footer-links">
        <a href="/gdpr">ochrana osobních údajů</a>
        <a href="/conditions">obchodní podmínky</a>
    </div>
</div>
</div>
</body>
</html>