<div id="navbar-container">
    <ul id="navbar-list">
        <li>
            <a href="/" class="navbar-item <%= marked === "home" ? "marked" : "" %>"><p class="inline ml-4 mr-4">Domů</p></a>
        </li>
        <li>
            <a href="/courses" class="navbar-item <%= marked === "courses" ? "marked" : "" %>"><p class="inline ml-4 mr-4">Kurzy</p></a>
        </li>
        <li>
            <a href="/contacts" class="navbar-item <%= marked === "contacts" ? "marked" : "" %>"><p class="inline ml-4 mr-4">Kontakty</p></a>
        </li>
    </ul>
</div>