<div>
    <a href="/admin/courses" class="button-round <%= marked === "courses" ? "button-blue" : "button-soft-blue"%>">Kurzy</a>
    <a href="/admin/courses/categories" class="button-round <%= marked === "categories" ? "button-blue" : "button-soft-blue"%>">Kategorie</a>
    <a href="/admin/courses/types" class="button-round <%= marked === "types" ? "button-blue" : "button-soft-blue"%>">Typy</a>
</div>