<div class="content-container">
    <div class="flex-horizontal flex-wrap">
        <div class="admin-section-card">
            <a href="/admin/content" class="flex-vertical no-underline text-black">
                <img src="/img/contentLogo.png">
                <p>Obsah</p>
            </a>
        </div>

        <div class="admin-section-card">
            <a href="/admin/orders" class="flex-vertical no-underline text-black">
                <img src="/img/ordersLogo.png">
                <p>Objednávky</p>
            </a>
        </div>

        <div class="admin-section-card">
            <a href="/admin/courses" class="flex-vertical no-underline text-black">
                <img src="/img/coursesLogo.png">
                <p>Kurzy</p>
            </a>
        </div>


        <div class="admin-section-card">
            <a href="/admin/offers" class="flex-vertical no-underline text-black">
                <img src="/img/offersLogo.png">
                <p>Nabídky</p>
            </a>
        </div>

        <div class="admin-section-card">
            <a href="/admin/users" class="flex-vertical no-underline text-black">
                <img src="/img/userslOGO.png">
                <p>Uživatelé</p>
            </a>
        </div>
    </div>
</div>